@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

body {
  scrollbar-gutter: stable both-edges;
  overflow-y: scroll;
}

.focusable:focus-visible {
  border-radius: 4px;
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--btn-color, var(--color-base-content));
}
